@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #253d4e;
  background: #fff;
  line-height: 1.4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.swiper {
  width: 80%;
}

.swiper-button-next::after {
  color: #658c4a;
}

.swiper-button-prev::after {
  color: #658c4a;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #658c4a;
}
