@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #253d4e;
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
