@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #253d4e;
  background: #fff;
  line-height: 1.4;
}

@layer components {
  .section {
    @apply py-5 md:py-10;
  }

  .title {
    @apply text-[40px] font-bold leading-[1] text-white md:text-[64px] xl:text-[98px];
  }

  .section-title {
    @apply text-xl text-grey font-bold md:text-2xl xl:text-[28px];
  }

  .scroll-bar-custom {
    @apply overflow-y-auto scrollbar-thin scrollbar-track-lightBlue scrollbar-thumb-accentDefaultOrange;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.swiper-button-next::after {
  color: #658c4a;
}

.swiper-button-prev::after {
  color: #658c4a;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #658c4a;
}
